@use "./media" as *;
@use "./breakpoints" as *;

.desktop-only {
  display: none;
}

.mobile-only {
  display: block;
}

@include up($bp-lg) {
  .desktop-only {
    display: flex;
  }

  .mobile-only {
    display: none;
  }
}
